.about-me{   
   &__image{      
		position: relative;
        padding-right: 25px;
        display: inline-block;
        z-index: 2;	
		&:after{  
            position: absolute;
            content: '';
            right: 0;
            width: calc(100% - 25px);
            height: calc(100% - 25px);
            z-index: -1;
			bottom: -25px;
            border: 10px solid;
            border-color: $primary_color;	
		}        
		img{ 
			max-width: 100%;		
        }		
		@include large{		
			margin-bottom: 100px;		
		}
    }	
	&__socialicon{	   
	    display: grid;
		width: 50px;
        position: absolute;
        top: 20px;
        left: 0px;
        background: $white;
        padding: 8px;	   
	    a{		
			width: 34px;
			height: 34px;
			line-height: 2.125rem;
			text-align: center;
			background: $primary_color;
			color: $white;
			margin: 3px 0;
			font-size: 0.75rem;	
			border:1px solid $primary_color;	
		  	&:hover {

               background: $black;
			
            }			
		}	
	} 
   	&__subtitle{      
	    color: $primary_color;
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin: 0 0 20px;
		text-transform: uppercase;	
		@include small{
			margin-top:70px;
			position:relative;
		}  
	    &:after{	  
	        content: "";
            position: absolute;
            top: 25px;
            height: 4px;
            width: 40px;
            background: $primary_color;
			margin-left: 15px;	 
			@include x-small{
				top:10px;
			} 
	    }  
    }
	&__title{	    
        color: $heading_color;
        font-size: 2rem;
        line-height: 2.375rem;		
	    margin: 0 0 20px;
	}	
	p{	    
        color: $text_color;
        line-height: 1.8;		
		a{		   
		   color: $text_color;		   
		   &:hover{		      
			  color: $primary_color;			  
		    }
		}	
	}	
	hr {        
		margin-top: 16px;
        margin-bottom: 16px;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
	&__contactinfo{	    
		margin-top: 40px;
		margin-bottom: 40px;
		@include x-small{
			margin-top: 0;
			margin-bottom: 0;
			.col-sm-4{
				padding:0;
			}
			.grid{
				margin:0 !important;
			}
		}
		span{		   
		   color: $heading_color;
		   font-size: 1rem;
		   font-weight: 500;
		   line-height: 1.75rem;
		   text-align: left;
		   text-size-adjust: 100%;	
		}		
		p{
		   margin-top: 0px;		
		}	
	}	
	.btn {		
		display: inline-block;
        min-width: 140px;
        text-align: center;
        padding: 14px 34px;
        position: relative;
        color: $white;
        border: 2px solid $primary_color;
        background-color: $primary_color;
		margin-right: 15px;
		z-index: 1;
		border-radius: 40px;
		vertical-align: bottom;		
		@include x-small{
			margin-right: 5px;
			padding: 10px 20px;
		}	
	    &:before{		
		    content: '';
		    background: $white;
            height: 50%;
            width: 0;
            position: absolute;
            transition: .3s cubic-bezier(.785, .135, .15, .86);
			top: 0;
		    right: 0;
		    left: auto;		
	    }		
		&:after{		
		    content: '';
		    background: $white;
            height: 50%;
            width: 0;
            position: absolute;
            transition: .3s cubic-bezier(.785, .135, .15, .86);
			bottom: 0;
		    right: 0;
		    left: auto;		
	    }			
	    &:hover{		
		    &:before{		    
		        width: 100%;
                right: 0;
                left: auto;
			}		
			&:after{
		    
		        width: 100%;
                left: 0;
                right: auto;
			}
			span{			
			   color:$primary_color;			
			}
	    }	
    }	
    .btn span {
		color: $white;
        display: block;
        transform-origin: center left;
        transition: color 0.3s ease;
        position: relative;
        z-index: 1;	
    }	
	.site-btn {
		display: inline-block;
        min-width: 140px;
        text-align: center;
        padding: 14px 34px;
        position: relative;
        margin-right: 15px;
		z-index: 1;
		border-radius: 40px;
		@include x-small{
			margin-right: 0 !important;
			padding: 10px 20px !important;
		}	
    }	
	.site-btn.btn-line {            
		background: $white;
        border: 2px solid $primary_color;
        color: $primary_color;
        padding: 13px 10px;		
		&:hover {            
		    color: $primary_color;
        }	
    }	  
}