.latest-blog{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
   &__item{   
	   position: relative;	 
	   flex-basis:360px; 
	   @include large{
		   flex-basis: 32%;
	   }   
	   @include x-small{
			flex-basis: 100%;
			margin-bottom: 30px;
		} 
	   *{	      
		    z-index: 2;
            position: relative;	   
		}			
		&:after{		
		   top: 15px;
           left: 15px;
           right: 0;
           bottom: 0;
           content: "";
           position: absolute;
           border-radius: 3px;
		   border: 1px solid #eee;
		   background-color: #F8FAFB;
		   @include small{
			   left: 10px;
			   right: 10px;
		   }
		}	   
	   	a{	   
	      outline: 0;
          text-decoration: none; 	   
	    }   
    }	
	&__image{	   
	    position: relative;
        padding-top: 60%;
        margin-right: 15px;
        margin-bottom: 20px;
	    background: no-repeat center center / cover;
		transition: all 600ms;	
		@include small{
			width: 100%;
			margin: 0;
		}
	}	
	&__content{	
	    position: relative;
        padding-left: 30px;
        padding-right: 15px;
        margin-bottom: 20px;  	
	}	
	&__title{	
	    font-size: 1.25rem;
        font-weight: 600;
		line-height: 1.5rem;
		margin-top: 0px;
		margin-bottom: 15px;
		@include small{
			margin-bottom: 5px;
			margin-top: 15px;
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
		&:hover{
			color:$primary_color
		}		
		a{	   
	      outline: 0;
          text-decoration: none; 
		  color: #333 !important;
          background-color: inherit;
	   
	    }	
	}	
	&__date{
		color: $black;
		letter-spacing: 0.8px;
		line-height: 1.75rem;
		i{
		   margin-right: 6px;
		   display: inline-block;
		}
	}
}