.grid{
    @include min-small{
        margin: 0 !important;
    }
}
.btn {
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    overflow: hidden;
    font-size: 1rem;
}
.btn-outline{
    background-color: $primary_color;
    padding: 14px 34px;
    color: $white;
    @include x-small{
       padding: 10px 22px;
       font-size: 0.875rem;
    }
}
.intro-block-button{
    border-radius: 40px;
    &:before{
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: $primary_color;
        border-radius: 40px;
        z-index: -1;
        transition: all 0.5s ease-in-out;  
    }
    &:hover{
        background-color: transparent !important;
        &:before{
            right: 0;
            left: 0;
            opacity: 1;
        }
    }
}