.contact-me{    
	padding-left: 15px;	
	@include small{
		padding-left:0;
	}
	&__title{	
	    font-size: 1.25rem;
		color: $heading_color;
		line-height: 2rem;
		margin-top: 0px;
		margin-bottom: 8px;	
		font-weight: 600
	}	
	&__description{	
	    margin-bottom: 30px;
		margin-top: 0px;
		color: $text_color;		
	}	
	&__info{	
	   @include medium{	   
	      margin-bottom: 30px;	   
	   }	
	}	
	&__item{	
	    margin-bottom: 30px;		
		p{		
		   margin-top: 0px;
		   margin-bottom: 0px;
		   color: $text_color;		
		}		
		i{		
		    margin-right: 10px;
            font-size: 0.875rem;
			color: $primary_color;
		
		}		
		.fa-phone {		
		    transform: rotate(90deg);			
		}	
	}	
	&__text{	
		font-weight: 600;	
		color:$heading_color
	}	
}

/* Contact Form 7 */

.wpcf7-form p{    
	font-size: 1rem;
    color: $heading_color;
    font-weight:600;
	margin-bottom: 12px;
}
.wpcf7-form-control-wrap {    
	position: relative;	
}

.wpcf7-form input[type=email],
.wpcf7-form input[type=text],
.wpcf7-form textarea
{   
   background-color: #F8FAFB;
   border: 1px solid #eee;
   border-radius: 2px;
   padding: 10px;
   display: inline-block;
   transition: all 0.3s ease;
   line-height: 1.5rem;
   width: 100%;
}
.wpcf7-form input[type="submit"]{   
   display: inline-flex;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   background-color: $primary_color;
   line-height: 1.5rem;
   border: 0;
   color: $white;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
   padding: 14px 34px;
   text-transform: capitalize;
   border-radius: 40px;
   z-index: 1;
   transition: all 0.3s ease;   
   &:hover{   
      background-color:$dark_grey;
	  color: $white;
   }
}