.counter-block{    
	border: 5px solid $white;
    padding: 5px;
    border-radius: 3px;	
	@include medium{	
	   margin-bottom: 30px;	
	}	
	&__item{
        background-color: $white;
        text-align: center;
        padding: 40px 20px;
        border-radius: 3px;
	}
	&__number{	
	    display: inline-block;
		position: relative;
		margin-bottom: 0px;
		margin-top: 0px;
        color: $heading_color;
        font-size: 2.25rem;
        font-weight: 800;
		line-height: 45px;
	}
	&__text{
		color: $heading_color;
        text-transform: uppercase;
        margin-top: 8px;
		font-size:  0.8125rem;
        font-weight: 600;
        letter-spacing: 1px;
		padding: 0px;
		line-height: 19px;
		margin-top: 0px;
	}
}