.cta-block{   
	   padding: 70px 0;
	   @include x-small{
		   padding:10px 0;
	   }	
	.col-lg-6 {	
	   @include min-medium{
	   		flex: 0 0 50%;
           	max-width: 50%;	   
	   }	
	}	
	&__text{	
	    position: relative;
        z-index: 2;
        padding-left: 90px;		
		img{		
		    position: absolute;
            left: 0;
            top: 50%;
            height: 70px;
            margin-top: -35px;		
		}		
		h4 {        
		   font-size: 1.875rem;
           line-height: 40px;
           color: $white;
           margin-bottom: 5px;
		   margin-top: 0px;        
		}		
		p{		
		   color: $white;
		   margin: 0px;
		   font-size:1.25rem;		
		}	
	}	
	.text-right{	
	    text-align: right;	
	}	
	&__btn{
		text-align: center;
		@include x-small{
			margin-top:20px;
		}
	}
	&__btn a.cbtn2{        
		font-size: 1rem;
        line-height: 26px;
        color: $primary-color;
        font-weight: 700;
        background-color: $white;
		padding: 14px 34px;	
		border-radius: 40px;	
		&:hover{		
		   background-color: $white;
		   color: $codGray;		
		}	
	}
}