// elementor specific hack column gap to 0px
[class*="elementor-col-"]{
    padding: 0;
}

.ewa-elementor-gap-5 [class*="elementor-col-"]{
    padding: 5px;
}

.ewa-elementor-gap-10 [class*="elementor-col-"]{
    padding: 10px;
}

.ewa-elementor-gap-15 [class*="elementor-col-"]{
    padding: 15px;
}
.elementor-widget-container .grid{

    @include x-small{
		margin:0 15px !important;
    }
}

