.resume-block{    
	margin-right: 20px;	
	&:last-child{		  
		margin-bottom: 0px;		
		margin-right: 0px;		
		@include small{		
		    margin-bottom: 60px;
			padding-right: 20px;		
		}		
	}	
	@include small{	
	   margin-left: 0;
       margin-right: 0;	
	}	
	&__title{	
	    font-size: 1.625rem;
        margin-bottom: 20px;
		margin-top: 0px;
		color: $heading_color;
		line-height: 2rem;	
	}	
	&__item{	
	    background-color: $primary_back;
        border-left: 2px solid $primary_color;
        padding: 32px 48px;
        position: relative;
		border-bottom: 1px solid $primary_color;		
		&:last-child{		
		    border-bottom: none;		
		}	
	}
	&__arrow{	
	    left: 0;
        margin-top: 2px;
        position: absolute;		
		&:before{		
		   content: "";
           display: block;
           position: absolute;
		   height: 16px;
           left: 0;
           width: 16px;
		   background-color: $primary_color;		
		}		
		&:after{		
		    content: "";
            display: block;
            position: absolute;
			border: 8px solid transparent;
            left: 16px;
			border-left-color: $primary_color;		
		}	
	}	
	&__subtitle{	
	    line-height: 100%;
		margin-top: 0px;
        margin-bottom: 9px;
		font-size: 1.25rem;	
	}	
	&__details{	
	    display: inline-block;
        margin-bottom: 7px;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.75rem;
		color: $text_color;	
	}	
	&__description{	
	    margin-top: 0px;
		margin-bottom: 0px;
		color: $text_color;	
	}
}