.section-heading{
	&__titletwo{
		display: block;
		color: $primary_color;
		font-size: 50px;
		line-height: 57px;
		margin-top: -15px;
		font-weight: 600;
		@include small{
			font-size: 30px;
			line-height: 40px;
			margin-top: 0;
		}
	}
	&__title{
		color: #6e7373;
		font-size: 25px;
		font-weight: 400;
		@include x-small{
			font-size: 22px;
		}
	}
}