.intro-block{   
    position: relative;
    z-index: 1;  
   	&__content{        
        text-align: left;
        @include small{		
		   margin-top: 0px;
		   text-align: center;	
		}	
	}	
	&__title{		
		font-size: 3.75rem;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 25px;
		color: $heading_color;
		line-height: 3.25rem;
		margin-top: 0px;
		@include medium{		
		   font-size: 2.75rem;		
		}
		@include x-small{		   
		   font-size: 2rem;
		   margin-bottom: 15px;
		}
    }	
    &__subtitle{		    
		margin-bottom: 22px;
		margin-top: 0px;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.625rem;
		color: $heading_color;
		span{
		   color: $primary_color;
		   text-transform: capitalize;
		}
		@include small{
		   font-size: 1.5rem;
		}
	}		
	p{   
		color: $text_color;
		margin-bottom: 25px;
		margin-top: 0px;
		@include x-small{
           font-size: 0.875rem;
		   margin: 10px 0 15px;
		}
	}
	&__image{
	    height: 100%;
        display: flex;
        align-items: flex-end;
        @include medium{
		    padding-top: 40px;
		}
		@include small{
		    height: auto;
            display: block;
            margin-top: 30px;
		}
		img {
		    max-width: 100%;
		}
	}
}
.padding-bottom-5{
	padding-bottom:5px
}