.portfolio-block{	
	&__item{
	    width: 23.2%;
	    display: inline-block;
	    transition-property: transform, opacity;
	    transition-duration: 0.8s;
		margin-left: 0px;
	    @include small{
	       width: 100%;
           margin: 0px;
	    }
	    &:hover{
	        img{
			    transform:scale(1.2);
	        }
		    .image-overlay{		
		        opacity: 1;
			    top: 0;			
			    a.link{			
			       right: 0; 
		           left: 10px;				
				   &:hover{				
				      background-color: $white;
				    }			
			    }		
		    }		
		    .portfolio-block__detali{		
			   border: 0 !important;		    
			}		
			.portfolio-block__title h5 a{			
			    color: $white;			
			}			
			.portfolio-block__title p {			
			   color: $white;			
			}
		}
	}
	&__image{	
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
		padding: 33%;
		background-size: cover;
		background-position: center;
		img{		
		    display: block;
            float: left;
			transition: all 300ms linear 0s;
		}	
	}	
	.image-overlay{	
	    float: left;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
		transition: all 300ms linear 0s;		
		a.link{		
		    right: 0;
            left: 100%;
		    display: inline-block;
            position: absolute;
            text-align: center;
            width: 50px;
            height: 50px;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 2px;
		    background-color: $primary_color;
		    transition: all 300ms linear 0s;		
		}		
		a i {            
			cursor: pointer;
            display: inline-block;
            font-size: 1.125rem;
            line-height: 3.25rem;
            text-align: center;
            width: 100%;
            color: $white;			
			&:hover{			  
			  color: $primary_color;			
			}			
        }	
	}	
	&__detali{	
	    display: inline-block;
        width: 100%;
		position: relative;
		border: 0 !important;
		background-color: transparent !important;
	}	
	&__title{	
	    padding: 10px 20px;
        text-align: center;
        width: 100%;		
		h5{		
		    margin-top: 0px;
			margin-bottom: 0px;
			font-size: 1.25rem;
			font-weight: 600;
			color: $heading_color;
			transition: all 300ms linear 0s;			
		}		
		p{		
            margin-bottom: 10px;
			color: $text_color;	
			line-height: 1.4;	
		}	
	}	
}
.portfolio-block .slick-slide {
	transition: .3s;
}
.portfolio-block .slick-slide > div{
	@include small{
		width: 100%;
	}
}
.portfolio-block .slick-slide:hover {
	background-color: $primary_color !important;
}
.portfolio-block .slick-track { 	
	display: flex !important; 
}  
.portfolio-block .slick-slide { 	
	display: flex !important; 	
	margin-right:30px;
	height: inherit !important;
	border: 1px solid #eee;
	background-color: #F8FAFB;
	margin-bottom:30px;
	border-radius: 3px;
	@include medium{
		margin:0 20px !important
	}
}

.portfolio-block .slick-dots{
	@include medium{
		bottom: -50px;
	}
}
.portfolio-block .slick-dots li button {
	border: 2px solid $primary_color;
	border-radius: 3px;
	width: 16px;
	height: 16px;
}
.portfolio-block .slick-dots li.slick-active button::before {
	opacity: 1;
	background-color: $primary_color;
	border-radius: 3px;
	width: 16px;
	height: 16px;
}
.portfolio-block .slick-dots li button::before {
	content:'';
}