.price-block{   
   background-color: $white;
   border-radius: 3px;
   &__item{
       border: solid 1px $gallery;
       border-radius: 3px;
       padding: 30px 0;
	   text-align: center;	  
	   @include small{
		   margin-bottom:40px;
	   } 
	   i{	   
			background: $white;
			font-size:  1.5rem;
			color: $primary_color;
			display: block;
			border-radius: 50%;
			border: solid 1px $gallery;
			height: 55px;
			line-height: 3.438rem;
			left: 50%;
			top: -27.5px;
			position: absolute;
			text-align: center;
			width: 55px;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.05);
	    } 
	}	
	&__plan{
        color: $heading_color;
        border-radius: 25px;
        display: inline-block;
        padding: 8px 30px;
		margin-top: 15px;
		font-size:1.25rem;
		background-color: transparent !important;
	}
	&__value{
		font-size: 2.813rem;
		margin: 25px 0;
		color: $white;
		line-height: 2.75rem;
		font-weight: 700;
		background-color: $primary_color;
		padding-top: 20px;
		padding-bottom: 10px;
		em {
		    font-size: 1.125rem;
            font-style: normal;
            vertical-align: super;
            margin-right: -6px;
			line-height: 1.375rem;
			font-weight: 700;
        }
		span{
		    color: $white;
            font-size: 0.75rem;
            font-weight: 400;
			margin-left: -6px;
		}
	}
	&__content{		
		ul{			
			list-style: none;
            padding-left: 0;
            margin: -8px 0;
		    color: $text_color;
			li{
				line-height: 1.875rem;
				font-weight: 400;
				color:$text_color;	
				padding:10px 0;
			}
		}		
	}		
	&__button{	
	    display: inline-block;
		margin-top: 30px;
		color: $white;
        background: $primary_color;;
		border-radius: 100px;
        font-weight: 400;
        overflow: hidden;
        padding: 8.5px 20px;
        position: relative;
		transform: translateY(0);
		transition: all 0.3s ease-in-out;	    
		&:hover{		
		    color: $white;
			background: $dark_grey;
			transform: translateY(-3px);
			box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);		
		}	
	}
	a{
		margin-top: 20px;
		display: inline-block;
		padding: 14px 34px;
		border-radius: 40px;
	}
}