.process-block{
    min-height: 356px;
    position: relative;
	display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
	margin-left: -10px;	
	.grid{
		margin: -15px !important;
		@include large{
			margin: 0 !important;
		}
	}
	@include small{
		margin-left: 0;
		margin-right: 0;
	}
	@include min-small{
		
	}
	.col-lg-2{	    
		@include min-medium{		
		    flex: 0 0 16.666667%;
            max-width: 16.666667%;		
		}		
    }			
	&__item{	
		height: 194.5px;
		padding-bottom: 44px;
		text-align: center;
		display: flex;
		flex-direction: column;
		line-height: 1.375rem;		
		@include medium{		
		    margin-bottom: 20px;
            height: auto;
            padding-top: 28px;
            &:last-child{                
                margin-bottom: 0px;
                height: auto;
                padding-bottom: 0;
			}		
		}		
		&:after{		
		    content: "";
            position: absolute;
            display: block;
            height: 6px;
            width: 100%;
            left: 0px;
			bottom: -5px;
			z-index: 0;
			background: $text_color;
			box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);	
            @include medium{			
			    display: none;			
			}   
		}
        &:first-child{            
            &:after{               
                width: 50%;
                left: 50%;
            }
        }
        &:last-child{            
            &:after{               
                width: 50%;
            }
        }
	}	
	.align-self-start{	
	    align-self: flex-start;		
	}	
	.mt-top{	
	    margin-top: auto; 	
	}	
	.mt-bottom{	
	    margin-bottom: auto;	
	}	
	.align-self-end {		
		padding-top: 44px;		
    }	
	&__number{	
	    background: $text_color;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 23px);
        transform: translateY(50%);
        width: 46px;
        height: 46px;
        line-height: 2.815rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        display: inline-block;
        border-radius: 3px;
        z-index: 1;
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);		
		@include medium{		
		    bottom: auto;
            top: 0px;
            transform: translateY(-50%);		
		}
	}
	&__bottom{	
	    top: 0px;
		bottom: auto;
		transform: translateY(-50%);
	}	
	&__icon{	
		color: $primary_color;
		font-size: 3.125rem;
		font-weight: 400;
		line-height: 4.063rem;
		display: block;		
		@include medium{		
		    font-size: 2.25rem;		
		}		
	}   
	&__text{	   
	    font-size: 1.25rem;
		font-weight: 600;
		line-height:  1.375rem;
		margin-top: 0px;
		margin-bottom: 0px;	
	}	
	.margin-box{	
	    margin-bottom: 8px;	
	}	
	.align-self-end{	
		align-self: flex-end;		
		&:after{		
		    bottom: auto;
            top: 2px;		
		}	
	}
}