.service-block{	
	&__item{	
        border:1px solid $gallery;
        border-radius: 3px;
        text-align: center;
        padding: 40px 30px;
        margin-bottom: 30px;
        background-color: $white;		
		.animation-delay0{		
		   animation-delay: 0s;		
		}		
		@include x-small{		
		   padding: 35px 25px;
           margin-bottom: 15px;		
		}		
    }
	&__image{	
	    margin-bottom: 15px;
        animation: up-down 15s infinite;		
		img{		
		   max-width: 100%;
		   height: 60px;		
		}	
	}	
	&__title{	
	    font-weight: 600;
		margin-top: 0px;
        margin-bottom: 6px;
		font-size: 1.25rem;
        line-height: 1.875rem;		
		@include x-small{		
		   font-size: 1.125rem;
           line-height: 1.75rem;		
		}		
		a {            
			color: $heading_color;
            transition: all 0.3s ease-in-out;			
			&:hover{			
			    color: $primary_color;			
			}			
        }	
	}	
	&__content{	
	    p {           
		   margin: 0 0 1.25rem 0;
           color: $text_color;
        }		
	}	
	&__button{	
	    font-weight: 600;
		font-size: 1rem;
		line-height: 1.875rem;
        color: $text_color;
        transition: all 0.3s ease-in-out;		
		&:hover{		
		   color: $primary_color;		
		}	
	}	
	@keyframes up-down {      
	    0% {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }        
		10% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }       
	    20% {
           -webkit-transform: translateY(0);
           -ms-transform: translateY(0);
           transform: translateY(0);
        }
        30% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }
        40% {
           -webkit-transform: translateY(0);
           -ms-transform: translateY(0);
           transform: translateY(0);
        }
        50% {
           -webkit-transform: translateY(-10px);
           -ms-transform: translateY(-10px);
           transform: translateY(-10px);
        }
        60% {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        70% {
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        80% {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        90% {
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        100% {
           -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
           transform: translateY(0);
        }
    }
}