.skill-block{    
	p{	
	  margin: 8px 0;	
	}	
	&__text{	
	   color: $heading_color;	
	}	
	&__value{	
	    position: static; 
      font-weight: bold;
      float: right;
      font-size: 0.875rem;
      color: $primary_color;	
	}	
	&__wrapper{	
	    background: $text_color;
      position: relative;
      margin-bottom: 40px;
      height: 5px;
      border-radius: 30px;
      width: 100%;	
	}	
	&__inner{	
	    position: absolute;
      height: 100%;
      width: 0;
      left: 0px;
      top: 0px;
      border-radius: 30px;
      background: $primary_color;;
      text-align: left;
		  transition: all 2s ease-in-out;	
	}
}
