.testimonial-area{	
	&__item{	
	    padding: 60px 25px 13px 25px;
        background: $white;
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 45px;
		line-height: 1.5rem;	
		p{
            font-style: italic;
			margin-top: 0px;
			margin-bottom: 15px;
			color:$text_color
		}
	}	
	&__title{	
	    font-size: 1rem;
		font-weight: 400;
		color: $heading_color;
		h4 {
		   font-weight: 600;
		   font-size: 1.125rem;
		   line-height:  1.25rem;
		   margin-top: 10px;
		   margin-bottom: 10px;
		   color:$heading_color;
		   span {
				display: block;
				font-size: 1rem;
                font-weight: 400;
				margin-top: 5px;
				color:$heading_color
			}
		}
	}	
	&__icon{	
	    position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -45px;
        text-align: center;
        width: 80px;
        height: 80px;
        line-height: 5rem;
		border-radius: 50%;
        background: $black;
        margin: 0 auto;		
		i{		
		   color: $white;		
		}	
	}
}
.testimonial-area .slick-dots li button {
	border: 2px solid $primary_color;
	border-radius: 3px;
	width: 16px;
	height: 16px;
}
.testimonial-area .slick-dots li.slick-active button::before {
	opacity: 1;
	background-color: $primary_color;
	border-radius: 3px;
	width: 16px;
	height: 16px;
}
.testimonial-area .slick-dots li button::before {
	content:'';
}